[package]
name = "rp-pico-mutex"
version = "0.1.0"
edition = "2024"
authors = ["vlk"]
description = "An efficient spinlock-backed mutex implementation for rp2040 and rp235x"
keywords = ["raspberry-pi", "embedded", "synchronization"]

[dependencies]
